@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1681703191854') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
  content: "\e50f";
}

.icon-chevron-right:before {
  content: "\e51b";
}

.icon-search:before {
  content: "\e664";
}

